<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/w3.css">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <style>
        *:focus {
            outline: none;
        }

        body {
            background-image: url("../images/Background.jpg");
        }

        input.w3-input:focus {
            outline: none;
            border-color: black;
            border-bottom-width: medium;
        }
    </style>
</head>

<body>
<header class="w3-container w3-white w3-center w3-opacity-max">
    <h1>REGISTRATION</h1>
</header>

<div class="w3-container w3-third w3-center w3-margin-top w3-animate-bottom">
    <img src="../images/register.png" class="w3-image" style="max-width: 40%;">
</div>


<div class="w3-container w3-third w3-margin-top w3-animate-zoom">

    <form class="w3-container w3-card-4 w3-white w3-round-xlarge" style="opacity: 0.5;">

        <p>
            <input class="w3-input w3-hover-shadow" name="email" type="email"
                   placeholder="example@domain.com" style="width:90%" title="email" required>
            <label>Email</label></p>
        <p>
            <input class="w3-input w3-hover-shadow" name="password" type="password"
                   style="width:90%" title="password" required>
            <label>Password</label></p>

        <p>
            <input class="w3-input w3-hover-shadow" name="firstName" type="text"
                   placeholder="Your First Name" style="width:90%" title="firstName" required>
            <label>First Name</label></p>

        <p>
            <input class="w3-input w3-hover-shadow" name="lastName" type="text"
                   placeholder="Your Last Name" style="width:90%" title="lastName" required>
            <label>Last Name</label></p>

        <p class="w3-center">
            <button class="w3-button w3-white w3-card-4 w3-round-large w3-hover-shadow">
                REGISTER
            </button>
        </p>

    </form>

</div>

<div class="w3-container w3-third w3-center w3-margin-top w3-animate-left">
    <p>
        Login with existing account?
    </p>
    <button class="w3-button w3-white w3-card-4 w3-round-large w3-opacity-min w3-hover-shadow" type="button"
            onclick="location.href='/login';">
        Login
    </button>
</div>

</body>
</html>