<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, user-scalable=0;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/sales.js" th:src="@{/js/sales.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <link rel="stylesheet" th:href="@{/css/erpapp.css}">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
</head>
<body>

<div class="w3-top">
    <div class="w3-bar w3-black w3-card-4 w3-opacity-min">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
           href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fas fa-bars"></i>
        </a>
        <a href="#place" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PLACE ORDER</a>
        <a href="#cancel" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CANCEL ORDER</a>
        <a href="#orders" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ORDERS</a>
        <a href="#search" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SEARCH</a>
        <a href="/logout" class="w3-padding-large w3-hover-red w3-hide-small w3-right">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</div>

<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top w3-opacity-min"
     style="margin-top:46px">
    <a href="#place" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PLACE ORDER</a>
    <a href="#cancel" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CANCEL ORDER</a>
    <a href="#orders" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ORDERS</a>
    <a href="#search" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SEARCH</a>
    <a href="/logout" class="w3-padding-large w3-hover-red w3-button">
        <i class="fas fa-sign-out-alt"></i>
        LOG OUT</a>
</div>

<div style="margin-top: 50px;">
    <div id="main" class="w3-container w3-margin w3-card-4" style="background-color: rgba(255,172,0,0.25)">
        <p class="w3-center w3-xxlarge">
            <i class="fas fa-shopping-basket"></i>
        </p>
        <h3 class="w3-center">SALES PANEL</h3>
        <hr>
        <p class="w3-center">
            Welcome to Sales Panel<br>
            You can use the menu to navigate
        </p>
    </div>

    <div id="place" class="w3-container w3-margin w3-card-4 my-section"
         style="background-color: rgba(255,172,0,0.25); display: none">
        <p class="w3-center w3-xxlarge">
            <i class="fas fa-cart-arrow-down"></i>
        </p>
        <h3 class="w3-center">PLACE ORDER</h3>
        <hr>
        <div class="w3-cell-row w3-margin-bottom w3-margin-top">
            <div class="w3-container w3-cell w3-animate-zoom w3-mobile">

                <form id="placeForm" class="w3-container w3-card-4 w3-round-xlarge" action="/sales/orders/v1/place"
                      method="post"
                      style="background-color: rgba(255,251,255,0.5);">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">
                        Customer Info</h3>
                    <p>
                        <input id="customerEmailInput" class="w3-input w3-hover-shadow" name="customerEmail"
                               type="email"
                               style="width:90%" title="customerEmail" required>
                        <label>Customer Email</label></p>

                    <p>
                        <input id="customerFirstNameInput" class="w3-input w3-hover-shadow" name="customerFirstName"
                               type="text"
                               style="width:90%" title="customerFirstName" required>
                        <label>Customer First Name</label></p>

                    <p>
                        <input id="customerLastNameInput" class="w3-input w3-hover-shadow" name="customerLastName"
                               type="text"
                               style="width:90%" title="customerLastName" required>
                        <label>Customer Last Name</label></p>

                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-margin-top w3-opacity-max">
                        Product Info</h3>

                    <p>
                        <select id="itemIdPlaceSelect" class="w3-select w3-white w3-hover-shadow w3-opacity-min"
                                name="itemId" style="width: 90%" title="itemId" required>
                        </select><br>
                        <label for="itemIdPlaceSelect">Item ID</label></p>

                    <p><b>Item Name: </b>
                        <small id="placeItemName"></small>
                    </p>
                    <p><b>Item Price: </b>
                        <small id="placeItemPrice"></small>
                    </p>
                    <p><b>Item Category: </b>
                        <small id="placeItemCategory"></small>
                    </p>
                    <p><b>Available Quantity: </b>
                        <small id="placeAvailableQuantity"></small>
                    </p>


                    <p>

                        <input class="w3-input w3-hover-shadow" name="itemQuantity" type="number" min="1"
                               style="width:90%" title="quantity" required>
                        <label>Quantity</label></p>


                    <p class="w3-center">
                        <input type="submit" class="w3-button w3-white w3-card-4 w3-round-large w3-hover-shadow"
                               value="PLACE ORDER">
                    </p>

                </form>

            </div>
            <div class="w3-container w3-cell w3-margin-top w3-animate-zoom w3-mobile">
                <div class="w3-container w3-card-4 w3-round-xlarge">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">Result</h3>
                    <div id="placeFormResultStatus"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-green w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="placeFormResultMessage"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-red w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="placeFormResultData"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-blue w3-round-xlarge"
                         style="display: none">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="cancel" class="w3-container w3-margin w3-card-4 my-section"
         style="background-color: rgba(202,0,255,0.25); display: none">
        <p class="w3-center w3-xxlarge">
            <i class="fas fa-trash-alt"></i>
        </p>
        <h3 class="w3-center">CANCEL ORDER</h3>
        <hr>
        <div class="w3-cell-row w3-margin-bottom w3-margin-top">
            <div class="w3-container w3-cell w3-animate-zoom w3-mobile">

                <form id="cancelForm" class="w3-container w3-card-4 w3-round-xlarge"
                      action="/sales/orders/v1/delete" method="post"
                      style="background-color: rgba(255,251,255,0.5);">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">
                        Order Info</h3>
                    <p>
                        <select id="orderIdCancelSelect" class="w3-select w3-white w3-hover-shadow w3-opacity-min"
                                name="orderId" style="width: 90%" title="orderId" required>
                        </select><br>
                        <label for="orderIdCancelSelect">Order ID</label></p>


                    <p class="w3-center">
                        <input type="submit" class="w3-button w3-white w3-card-4 w3-round-large w3-hover-shadow"
                               value="CANCEL ORDER">
                    </p>

                </form>

            </div>
            <div class="w3-container w3-cell w3-margin-top w3-animate-zoom w3-mobile">
                <div class="w3-container w3-card-4 w3-round-xlarge">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">Result</h3>
                    <div id="cancelFormResultStatus"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-green w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="cancelFormResultMessage"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-red w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="cancelFormResultData"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-blue w3-round-xlarge"
                         style="display: none">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="orders" class="w3-container w3-margin w3-margin w3-card-4 my-section"
         style="background-color: rgba(10,255,0,0.25); display: none">
        <p class="w3-center w3-xxlarge">
            <i class="fas fa-th-list"></i>
        </p>
        <h3 class="w3-center">ORDERS</h3>
        <hr>
        <div class="w3-cell-row w3-margin-bottom w3-margin-top">
            <div class="w3-container w3-cell w3-animate-zoom w3-mobile">

                <form id="orderForm" class="w3-container w3-card-4 w3-round-xlarge"
                      action="/sales/orders/v1/get" method="get"
                      style="background-color: rgba(255,251,255,0.5);">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">
                        Order Panel</h3>

                    <p>
                        <select id="orderIdGetSelect" class="w3-select w3-white w3-hover-shadow w3-opacity-min"
                                name="orderId" style="width: 90%" title="orderId" required>
                        </select><br>
                        <label for="orderIdGetSelect">Order ID</label></p>

                    <p class="w3-center">
                        <input type="submit" class="w3-button w3-white w3-card-4 w3-round-large w3-hover-shadow"
                               value="GET ORDER"></p>

                </form>

            </div>
            <div class="w3-container w3-cell w3-margin-top w3-animate-zoom w3-mobile">
                <div class="w3-container w3-card-4 w3-round-xlarge">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">Order Result</h3>
                    <div id="orderFormResultStatus"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-green w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="orderFormResultMessage"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-red w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="orderFormResultData"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-blue w3-round-xlarge"
                         style="display: none">
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-cell-row w3-margin-bottom w3-margin-top">
            <div class="w3-container w3-cell w3-animate-zoom w3-mobile">

                <form id="ordersForm" class="w3-container w3-card-4 w3-round-xlarge"
                      action="/sales/orders/v1/get/all" method="get"
                      style="background-color: rgba(255,251,255,0.5);">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">
                        Orders Panel</h3>

                    <p class="w3-center">
                        <input type="submit" class="w3-button w3-white w3-card-4 w3-round-large w3-hover-shadow"
                               value="GET ALL ORDERS"></p>

                </form>

            </div>
            <div class="w3-container w3-cell w3-margin-top w3-animate-zoom w3-mobile">
                <div class="w3-container w3-card-4 w3-round-xlarge">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">Orders Result</h3>
                    <div id="ordersFormResultStatus"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-green w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="ordersFormResultMessage"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-red w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="ordersFormResultData"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-blue w3-round-xlarge"
                         style="display: none">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="search" class="w3-container w3-margin w3-margin w3-card-4 my-section"
         style="background-color: rgba(255,0,95,0.25); display: none">
        <p class="w3-center w3-xxlarge">
            <i class="fas fa-search"></i>
        </p>
        <h3 class="w3-center">SEARCH</h3>
        <hr>
        <div class="w3-cell-row w3-margin-bottom w3-margin-top">
            <div class="w3-container w3-cell w3-animate-zoom w3-mobile">

                <form id="searchForm" class="w3-container w3-card-4 w3-round-xlarge" action="/sales/orders/v1/search"
                      method="get"
                      style="background-color: rgba(255,251,255,0.5);">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">
                        Search Panel</h3>
                    <p>
                        <input class="w3-input w3-hover-shadow" name="orderItemQuantity" type="number" min="0"
                               style="width:90%" title="orderItemQuantity">
                        <label>Order Item Quantity</label></p>

                    <p>
                        <input class="w3-input w3-hover-shadow" name="orderTotalPrice" type="number" min="0"
                               style="width:90%" title="orderTotalPrice">
                        <label>Order Total Price</label></p>

                    <p>
                        <input class="w3-input w3-hover-shadow" name="orderStatus" type="text"
                               style="width:90%" title="orderStatus">
                        <label>Order Status</label></p>


                    <p class="w3-center">
                        <input type="submit" class="w3-button w3-white w3-card-4 w3-round-large w3-hover-shadow"
                               value="SEARCH ORDERS">
                    </p>

                </form>

            </div>
            <div class="w3-container w3-cell w3-margin-top w3-animate-zoom w3-mobile">
                <div class="w3-container w3-card-4 w3-round-xlarge">
                    <h3 class="w3-container w3-center w3-card-4 w3-padding w3-white w3-opacity-max">Result</h3>
                    <div id="searchFormResultStatus"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-green w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="searchFormResultMessage"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-red w3-round-xlarge"
                         style="display: none">
                    </div>
                    <div id="searchFormResultData"
                         class="w3-panel w3-card-4 w3-leftbar w3-opacity-min w3-pale-blue w3-round-xlarge"
                         style="display: none">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function myFunction() {
        const x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</body>
</html>